<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: orange;
        }
        
        .container {
            display: flex;
            flex-direction: column; /* Arrange children in a column */
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .home-box {
            background-color: black;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px; /* Add margin bottom to create space */
            text-align: center;
        }

        .home-box h2, .home-box h3, .home-box .btn {
            color: white;
        }
        
        .home-box .btn {
            margin-top: 10px;
            margin-right: 5px;
        }

        .logout-link {
            position: absolute;
            top: 10px;
            right: 10px;
            color: black;
        }

        .logout-link:hover {
            color: blue;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <a href="/logout" class="logout-link">Logout</a>
        <div class="home-box">
            <h2>Welcome User!</h2>
        </div>
        <div class="home-box">
            <h3>Actions</h3>
            <a href="/upload" class="btn btn-primary">Post</a>
            <a href="/display?userId={{userId}}" class="btn btn-secondary">View</a>
        </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
